* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Ubuntu Mono", monospace;

    /* colors, rgb values */
    --bg: 24, 25, 27;
    --color: 226, 229, 233
}

body {
    background-color: rgb(var(--bg));
    color: rgb(var(--color));
}

#game {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board {
    width: 90%;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.cell {
    display: flex;
    aspect-ratio: 1 / 1;
    font-size: 20vw;
    align-items: center;
    justify-content: center;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(6) ~ .cell {
    border-bottom: none;
}

#game.x .cell:not(.x):hover,
#game.x .cell:not(.oh):hover {
    background: url("images/x-mark.svg");
}