* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Ubuntu Mono", monospace;

    /* colors, rgb values */
    --bg: 24, 25, 27;
    --color: 226, 229, 233
}

body {
    background-color: rgb(var(--bg));
    color: rgb(var(--color));
    height: 100vh;
    width: 100vw;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#players {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding-bottom: 3em;
    font-size: 2.4em;
    align-items: center;
}

#game.x .player.x,
#game.o .player.o {
    background-color: rgb(var(--color));
    color: rgb(var(--bg));
    padding: .5em;
    border-radius: 5px;
}

#board {
    width: clamp(350px, 90vw, 400px);
    height: clamp(350px, 90vh, 400px);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.cell {
    display: flex;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(6) ~ .cell {
    border-bottom: none;
}

.cell.x {
    background: url("images/x-mark.svg") center no-repeat;
}

.cell.o {
    background: url("images/o-mark.svg") center no-repeat;
    background-size: 75%;
}

#game-over {
    position: fixed;
    display: none;

}

#game-over.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--bg), .9);
    gap: 1.5em;
    font-size: 3rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 99;
}